<nz-layout>
  <nz-header>
    <div style="width: 100%; height: 100%; display: inline-flexbox">
      <div class="logo">
      </div>
      <div style="float: right; padding: 5px">
        <img *ngIf="isMobile" (click)="isVisible = true"
          style="width: 40px; height: 40px; border-radius: 30px; margin-bottom: 10px; cursor: pointer"
          [src]="userService.tempAvatar ? userService.tempAvatar : userService.User?.avatar ? '/assets/avatars/' + userService.User?.avatar : '/assets/avatar.png'">
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider style="padding: 10px 0px" [nzWidth]="70" class="left-menu" *ngIf="!isMobile">
      <div style="position: absolute; bottom: 0; border-top: 1px solid #837fde33; padding: 20px 12px;">
        <img (click)="isVisible = true"
          style="width: 40px; height: 40px; border-radius: 30px; margin-bottom: 10px; cursor: pointer"
          [src]=" userService.tempAvatar ? userService.tempAvatar : userService.User?.avatar ? '/assets/avatars/' + userService.User?.avatar : '/assets/avatar.png'">
      </div>
    </nz-sider>
    <nz-content style="overflow-y: auto">
      <div style="padding: 50px" id="newLobby" *ngIf="panelVisible" [@panelInOut]>
        <p style="font-size: 26px; font-weight: bold">NEW ROOM</p>
        <div style="position: relative; float: right;">
          <button (click)="panelVisible = false" nz-button nzShape="round" nzType="primary"><i nz-icon
              nzType="caret-left" nzTheme="outline"></i>
            Back to Lobby</button>
        </div>
        <div style="margin-top: 60px">
          <div nz-row>
            <div nz-col nzXs="24" nzLg="10">
              <div class="input-container">
                <label style="margin-right: 10px">Name : </label>
                <input [(ngModel)]="newLobby.name" style="width: 200px" type="text" nz-input />
              </div>

              <div class="input-container">
                <label style="margin-right: 10px">Lobby's Size : </label>
                <nz-select style="width: 60px;" [(ngModel)]="newLobby.limit">
                  <nz-option [nzValue]="10" nzLabel="10"></nz-option>
                  <nz-option [nzValue]="15" nzLabel="15"></nz-option>
                  <nz-option [nzValue]="20" nzLabel="20"></nz-option>
                  <nz-option [nzValue]="25" nzLabel="25"></nz-option>
                  <nz-option [nzValue]="30" nzLabel="30"></nz-option>
                  <nz-option [nzValue]="35" nzLabel="35"></nz-option>
                  <nz-option [nzValue]="40" nzLabel="40"></nz-option>
                </nz-select>
              </div>

              <div class="input-container">
                <label style="margin-right: 10px">Password (Optional) : </label>
                <input [(ngModel)]="newLobby.password" type="password" style="width: 200px" type="text" nz-input />
              </div>
              <button (click)="newRoom()" [disabled]="!isSelected() || !newLobby.limit || !newLobby.name"
                style="width: 80%; margin: auto; margin-top: 20px" nz-button nzType="primary">CONFIRM</button>
            </div>
            <div nz-col nzXs="24" nzLg="14">
              <div class="rooms" style="display: flex; flex-wrap: wrap; width: 100%; padding: 20px">
                <div style="margin: 0px 15px;width: 150px" (click)="Select(item)" *ngFor="let item of Themes">
                  <div style="width: 100%" nz-row>
                    <div class="room-comp" [ngClass]="{selected: item.selected === true}" nz-row>
                      <div nz-col nzSpan="10">
                        <div class="room">
                          <div
                            style="border-radius: 30px; background: linear-gradient(#485669, #3F4857); height: 50px; width: 50px; overflow: hidden">
                            <img style="width: 50px; height: 50px; opacity: .3"
                              [src]="'/assets/' + item.name + '.jpg'" />
                          </div>
                        </div>
                      </div>
                      <div nz-col class="room-name" nzSpan="14">
                        <h4>{{item.name | titlecase}}</h4>
                        <p>
                          {{item.description | titlecase}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Lobby" style="padding: 50px;" *ngIf="!panelVisible" [@panelInOut]>
        <p style="font-size: 26px; font-weight: bold">Private Rooms</p>
        <div style="margin-bottom: 60px">
          <div style="position: relative; float: left">
            <nz-input-group style="width: 200px; margin-right: 30px" [nzPrefix]="IconSearch">
              <input (input)="onSearchChange($event.target.value)" style="width: 200px" type="text" nz-input
                placeholder="Find a lobby" />
            </nz-input-group>
            <ng-template #IconSearch>
              <i style="color: #fff" nz-icon nzType="search"></i>
            </ng-template>
            <label (ngModelChange)="FilterPrivate($event)" [ngModel]="private" style="color: #fff" nz-checkbox>Show
              private lobbies
              only</label>
          </div>
          <div style="position: relative; float: right;">
            <button (click)="panelVisible = true" nz-button nzShape="round" nzType="primary"><i nz-icon
                nzType="plus-circle" nzTheme="outline"></i>
              New Room</button>
          </div>
        </div>
        <div>
          <table style="width:100%">
            <thead>
              <tr>
                <th><i nz-icon nzType="lock" nzTheme="outline"></i></th>
                <th>Room</th>
                <th>Owner</th>
                <th>Players</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{full: data.players == data.limit}" *ngFor="let data of Data"
                [routerLink]="['/room', data._id]">
                <td><i nz-icon [nzType]="data.locked ? 'lock' : 'unlock'" nzTheme="outline"></i></td>
                <td>{{data.name}}</td>
                <td>{{data.owner}}</td>
                <td>{{data.players}}/{{data.limit}}</td>
                <td><i *ngIf="data.players < data.limit" nz-icon nzType="right-circle" nzTheme="outline"></i>
                  <b *ngIf="data.players == data.limit">FULL</b></td>
              </tr>

            </tbody>

          </table>
        </div>
        <div class="rooms">
          <p style="font-size: 26px; font-weight: bold">Public Rooms</p>
          <div style="width: 100%; overflow-x: auto; display: flex; padding-bottom: 15px">
            <div [routerLink]="['/room', item._id]" *ngFor="let item of Rooms" [@EnterLeave]="'flyIn'">
              <div class="room-comp" nz-row>
                <div nz-col nzSpan="10">
                  <div class="room">
                    <div
                      style="overflow: hidden; border-radius: 30px; background: linear-gradient(#485669, #3F4857); height: 40px; width: 40px">
                      <img style="width: 40px; height: 40px; opacity: .3" [src]="'/assets/' + item.name + '.jpg'" />
                    </div>
                  </div>
                </div>
                <div nz-col class="room-name" nzSpan="14">
                  <h4>{{item.name}}</h4>
                  <p>
                    {{item.count}} players
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal (nzOnCancel)="isVisible = false" [nzFooter]="null" [nzTitle]="null" [(nzVisible)]="isVisible"
  [nzBodyStyle]="{padding: '0px'}">
  <app-test></app-test>
</nz-modal>

<nz-modal (nzOnCancel)="Play()" [nzTitle]="null" [nzFooter]="null" [(nzVisible)]="!seen"
  [nzBodyStyle]="{padding: '0px'}">
  <div style="height: 400px; width: 350px">
    <nz-carousel [nzEffect]="'scrollx'" [nzDotPosition]="'top'">
      <div nz-carousel-content>
        <div style="height: 50%; background: #2B3845; background-image: url(/assets/newroom.PNG)">
        </div>
        <div style="height: 50%; text-align: center; padding: 40px;">
          Start by creating a new room
        </div>
      </div>
      <div nz-carousel-content>
        <div style="height: 50%; background: #2B3845; background-image: url(/assets/publicroom.PNG)">
        </div>
        <div style="height: 50%; text-align: center; padding: 40px;">
          Or join a public room
        </div>
      </div>
      <div nz-carousel-content>
        <div style="height: 50%; background: #2B3845; background-image: url(/assets/publicroom.PNG)">
        </div>
        <div style="height: 50%; text-align: center; padding: 40px;">
          <b>The Rules:</b>
          <p>There are 20 songs per round, each song is played for 30 seconds. You have to guess the singer(s) and the title and each guess gets you a point for a total of 2 points per song.</p>
        </div>
      </div>
      <div nz-carousel-content>
        <div style="height: 50%; background: #2B3845; background-image: url(/assets/copy.PNG)">
        </div>
        <div style="height: 50%; text-align: center; padding: 40px;">
          Invite your friends and <b>Have Fun</b> !
        </div>
      </div>
    </nz-carousel>
  </div>
</nz-modal>
